@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body {
  font-family: "Roboto", sans-serif;
}

header {
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  background-color: #191716;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100;
}
header .logo {
  width: 40px;
  height: 40px;
}
header .menu {
  width: 350px;
  height: 50px;
  box-sizing: border-box;
}
header .menu ul {
  width: 100%;
  height: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
}
header .menu ul li {
  border-radius: 2px;
  display: inline-block;
  height: 100%;
  box-sizing: border-box;
  cursor: pointer;
}
header .menu ul li a {
  text-decoration: none;
  border-bottom: 1px solid transparent;
  color: #fff;
  font-size: 16px;
  display: inline-block;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}
header .menu ul li a:hover {
  border-bottom: 1px solid #fff;
}

.cover {
  background-image: url(../img/61683190_489369281603892_8609204761637421056_o.jpg);
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  background-attachment: fixed;
  position: relative;
  z-index: 1;
}
.cover .cover-message {
  width: 500px;
  background-color: #476c9b;
  color: #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 25px;
  right: 3px;
  height: 110px;
  opacity: 0.6;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cover .cover-message p {
  font-size: 30px;
  font-weight: 700;
}

.content-container {
  width: 100%;
  height: 900px;
  text-align: center;
  background-image: url(../img/noisy.png);
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: top;
  box-sizing: border-box;
}
.content-container h1 {
  position: relative;
  background-image: linear-gradient(#fb9b11, #ec2078);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-family: "Peddana", serif;
  font-size: 90px;
  font-weight: 700;
  letter-spacing: 3px;
  text-align: center;
  margin: 0;
  animation-name: fadeIn;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-iteration-count: 2;
}
.content-container .content {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.content-container .content img {
  width: 350px;
  border-radius: 15px;
}
.content-container .content p {
  font-size: 22px;
  width: 100%;
  padding: 10px;
  font-weight: 500;
  text-align: justify;
  margin-top: 0;
}
.content-container .conocenos {
  color: #f17631;
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  font-size: 1.2em;
  border: 1px solid;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 25px;
  box-sizing: border-box;
}
.content-container .conocenos:hover {
  color: #fff;
  background-color: #f17631;
  border: 1px solid #f17631;
}
.content-container .conocenos:active {
  opacity: 0.6;
  font-size: 1em;
}

footer {
  width: 100%;
  background-color: #191716;
  color: #fff;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}
footer h2 {
  position: relative;
  background-image: linear-gradient(#fb9b11, #ec2078);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
  font-family: "Peddana", serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 3px;
  margin-top: 10px;
  margin-bottom: 0;
}
footer p {
  text-transform: capitalize;
  margin: 5px;
}
footer .footer-contact {
  display: flex;
  align-items: center;
  width: 500px;
  margin: auto;
  text-align: center;
  justify-content: space-evenly;
}
footer .footer-contact p {
  text-transform: none;
  text-decoration: none;
}
footer .footer-contact hr {
  width: 30px;
  transform: rotate(90deg);
  margin: 0;
}
footer .social-network {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;
}
footer .social-network a {
  text-decoration: none;
  font-size: 2em;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}
footer .social-network .icon-facebook:hover {
  background-color: #3b5998;
}
footer .social-network .icon-instagram:hover {
  background-color: #5851db;
}
footer .social-network .icon-twitter:hover {
  background-color: #1da1f2;
}
footer .social-network .icon-youtube:hover {
  background-color: #ff0000;
}

/*# sourceMappingURL=styles.css.map */
